{% extends "layout.jinja2" %}

{% block middle %}


    <div class="panel" style="float:left;display: inline-block;">
        <div class="title">Add Log</div>
        <div class="content">
            <form id="addLogFrm">
                <div class="ui fluid input" style="margin-top: 5px;">
                    <textarea id="logEdt" name="log" type="text" placeholder="Log..." cols="50"
                              rows="5"></textarea>
                </div>
                <div style="margin-top:5px;display: block;" id="addBtn" class="ui green button">Add</div>
                <input type="submit" style="display: none;">
            </form>
        </div>
    </div>

    <script language="JavaScript">
        function addLog() {
            $.ajax({
                type: "POST",
                url: "{{ 'api_logs_add'|route_url }}",
                contentType: "application/json",
                dataType: 'json',
                data: "{\"log\":\""+$('#logEdt').val()+"\"}",
                success: function (data, textStatus, jqXHR) {
                    alert("Log added");
                }
            });
        };
        $('#addBtn').click(addLog);
        $('#addLogFrm').submit(addLog);
    </script>
    <div class="panel" style="float:left;width: 50%;">
        <div class="title">Search</div>
        <div class="content">
            <form id="searchFrm">
                <div id="timePanel" style="text-align: center;">
                    Since:
                    <div class="ui input" style="width: 24%; margin-left: 5px;">
                        <input id="sinceEdt" class="date" type="text" placeholder="Since...">
                    </div>
                    To:
                    <div class="ui input" style="width:24%;">
                        <input id="toEdt" class="date" type="text" placeholder="To...">
                    </div>
                </div>
                <div class="ui fluid input" style="margin-top: 5px;">
                    <input id="searchEdt" name="query" type="text" placeholder="Query...">
                </div>
                <div style="margin-top:5px;display: block;" id="searchBtn" class="ui green button">Search</div>
                <input type="submit" style="display: none;">
            </form>
        </div>
    </div>
    <script language="JavaScript">
        $('#timePanel .date').datetimepicker();
        $('#timePanel .date').change(function (event){
            toReset = true;
        })
    </script>

    <div id="resultPnl" class="panel" style="display:inline-block;width: 95%;">
        <div class="title">Results</div>
        <div class="content" style="overflow: auto;">
            <div class="nav">
                <div style="float:left;" id="infoResult"></div>
                <form>
                    Results per page
                    <select id="nPerPage">
                        <option>10</option>
                        <option>20</option>
                        <option>30</option>
                        <option>40</option>
                        <option>50</option>
                        <option>100</option>
                    </select>
                    Page:<select id="pageSel"></select>
                </form>
            </div>
            <table id="resultTbl" class="ui table segment">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <script language="JavaScript">
        var currPage=0;
        var lastQuery=null;
        var toReset=false;

        function changePage(newPage){
            currPage = newPage;
            search();
        }

        $('#pageSel').change(function (){
            changePage($(this).val());
        });

        function searchTag(srcQuery){
            if ($('#searchEdt').val().indexOf(srcQuery)==-1){
                $('#searchEdt').val($('#searchEdt').val()+" "+srcQuery);
            }else{
                $('#searchEdt').val($('#searchEdt').val().replace(srcQuery,""));
            }
            search();
        }

        function search() {
            var startDt = new Date();
            if (toReset || lastQuery==null || lastQuery!=$("#searchEdt").val()){
                currPage=0;
                lastQuery=$("#searchEdt").val()
                toReset=false;
            }
            var dtSince=$("#sinceEdt").datetimepicker('getDate');
            var dtTo=$("#toEdt").datetimepicker('getDate');
            if ($("#sinceEdt").val().trim()=="" || $("#toEdt").val().trim()==""){
                alert("The date range is mandatory");
                return;
            }
            var sinceSeconds=(dtSince.getTime()/1000);
            var toSeconds=(dtTo.getTime()/1000);
            if (toSeconds == sinceSeconds){
                sinceSeconds-=24*60*60;
            }
            var searchParam = {
                query: $("#searchEdt").val(),
                dtSince: Math.ceil(sinceSeconds),
                dtTo: Math.ceil(toSeconds),
                page : currPage,
                result_per_page : $('#nPerPage').val()
            };
            var url = "{{ 'api_logs_search' | route_url }}?" + $.param(searchParam);
            $.getJSON(url, function (data) {
                var col_names = [];
                var row_datas = [];
                var tbl_body = "";
                $.each(data['logs'], function () {
                    var row_data = {};
                    $.each(this, function (k, v) {
                        if (k!="_id"){
                            if (col_names.indexOf(k) == -1) {
                                col_names.push(k);
                            }
                            row_data[k] = v;
                        }
                    });
                    row_datas.push(row_data);
                });
                /*Page Selection*/
                $('#pageSel').empty();
                for (var p=0;p<data['pages'];p++){
                    if (p!=currPage){
                        $('#pageSel').append($("<option></option>").attr("value",p).text(p));
                    }else{
                        $('#pageSel').append($("<option></option>").attr("value",p).attr("selected","true").text(p));
                    }
                }

                $('#infoResult').html("Fetched "+data['n_rows']+" records in "+data['elapsed_time']+" msec");
                /*Header*/
                col_names.sort();
                var tbl_header = "<tr>";
                for (var i = 0; i < col_names.length; i++) {
                    tbl_header += "<th>" + col_names[i] + "</th>";
                }
                tbl_header += "</tr>";
                /*Table body*/
                for (var r = 0; r < row_datas.length; r++) {
                    tbl_body += "<tr>";
                    for (var c = 0; c < col_names.length; c++) {
                        var tdContent = ""
                        if (row_datas[r][col_names[c]] != null) {
                            var srcQry="#"+col_names[c]+"="+row_datas[r][col_names[c]];
                            var tdLnk="<a href=\"#\" onclick=\"searchTag('"+srcQry+"');\">";
                            if (col_names[c][0]!="_") {
                                tdContent = tdLnk + row_datas[r][col_names[c]] + "</a>";
                            }else{
                                tdContent = row_datas[r][col_names[c]];
                            }
                        }
                        tbl_body += "<td>" + tdContent + "</td>";
                    }
                    tbl_body += "</tr>";
                }
                $("#resultTbl thead").html(tbl_header);
                $("#resultTbl tbody").html(tbl_body);
                $("#resultPnl").show();


            });
            var endDt = new Date();
            //alert(""+endDt.getTime()-startDt.getTime()+"msec");
        };
        $('#searchBtn').click(search);
        $('#searchEdt').keypress(function (event){
            if ( event.which == 13 ) {
                search();
            }
        });
        $('#searchFrm').submit(function (event) {
            search();
            event.preventDefault();
        });
        $('#nPerPage').change(function(){
           search();
        });
    </script>
{% endblock %}