<!DOCTYPE html>
<html>
<head>
    <title>Log4All</title>
    <script src="{{ 'log4all:static/js/jquery-2.1.1.min.js'|static_url }}"></script>
    <script src="{{ 'log4all:static/js/jquery-ui-1.10.4.min.js'|static_url }}"></script>
    <script src="{{ 'log4all:static/semantic/javascript/semantic.min.js'|static_url }}"></script>
    <script src="{{ 'log4all:static/js/jquery.highlighttextarea.js'|static_url }}"></script>
    <link rel="stylesheet" href="{{ 'log4all:static/css/themes/smoothness/jquery-ui.min.css'|static_url }}"/>
    <link rel="stylesheet" href="{{ 'log4all:static/css/style.css'|static_url }}"/>
    <link rel="stylesheet" href="{{ 'log4all:static/semantic/css/semantic.min.css' | static_url }}"/>
    <link rel="stylesheet" href="{{ 'log4all:static/css/jquery.timepicker.css' | static_url }}"/>
    <link rel="stylesheet" href="{{ 'log4all:static/css/datepicker.css' | static_url }}"/>
    <link rel="stylesheet" href="{{ 'log4all:static/css/jquery.highlighttextarea.css' | static_url }}"/>
</head>
<body>
    <div id="top">
        <a href="{{ 'home' | route_url }}"><img src="{{ 'log4all:static/images/64x64/logo.png'|static_url }}"></a> Log4All
    </div>
    <div id="middle">{% block middle %}{% endblock %}</div>
    <div id="bottom">Realized by <a href="mailto:n3wtron@gmail.com">Igor Maculan</a></div>
</body>
</html>