<div id="searchPnl" class="panel ui form">
    <script>
        var levels = "";
    </script>

    <div class="title">Search</div>
    <div class="contentPanel">
        <form id="searchFrm">
            <div id="timePanel" class="two fields" style="text-align: center;">
                <div class="ui input field" style="text-align: left;">
                    <label>Since</label>
                    <input id="sinceEdt" class="date" type="text" placeholder="Since...">
                </div>
                <div class="ui input field" style="text-align: left;">
                    <label>To</label>
                    <input id="toEdt" class="date" type="text" placeholder="To...">
                </div>
            </div>
            <div class="two fields">
                <div class="field input">
                    <label>Applications</label>
                    <input type="text" placeholder="Applications" id="searchApplications">
                    <script>
                        $('#searchApplications').autocomplete({
                            minLength: 2,
                            source: "{{ 'helper_application_search' | route_url }}?multi=true"
                        });
                    </script>
                </div>
                <div class="field">
                    <label>Levels</label>

                    <div class="ui buttons">

                        <div class="levelBtn ui button" btncolor="green" level="DEBUG">
                            Debug
                        </div>
                        <div class="levelBtn ui button" btncolor="blue" level="INFO">
                            Info
                        </div>
                        <div class="levelBtn ui button" btncolor="orange" level="WARN">
                            Warn
                        </div>
                        <div class="levelBtn ui button" btncolor="red" level="ERROR">
                            Error
                        </div>
                        <div class="levelBtn ui button" btncolor="black" level="FATAL">
                            Fatal
                        </div>
                        <script>
                            $('.levelBtn').click(function () {
                                var currBtnClass = $(this).attr("class");
                                var btnColor = $(this).attr("btncolor");
                                var level = $(this).attr("level");
                                if (currBtnClass.indexOf(btnColor) > -1) {
                                    currBtnClass = currBtnClass.replace(" " + btnColor, "");
                                    levels = levels.replace(level, "");
                                } else {
                                    currBtnClass = currBtnClass + " " + btnColor;
                                    levels += " " + level
                                }
                                $(this).attr("class", currBtnClass);
                            });
                        </script>
                    </div>
                </div>
            </div>
            <div class="ui fluid input">
                <input id="searchEdt" name="query" type="text" placeholder="Query...">
            </div>
            <div style="text-align: center">
                <div class="ui buttons" style="margin-top: 5px; display: inline-block; width: 450px;">
                    <div style="width: 200px;" id="searchBtn" class="ui green button">Search</div>
                    <div class="or" style="z-index: 1;"></div>
                    <div style="width: 200px;" id="tailBtn" class="ui red button">Tail</div>
                </div>
            </div>
            <input type="submit" style="display: none;">
        </form>
    </div>

    <script language="JavaScript">
        $('#timePanel .date').datetimepicker();
        $('#timePanel .date').change(function (event) {
            toReset = true;
        })
        $('#searchEdt').autocomplete({
            minLength: 2,
            source: "{{ 'helper_tags_search' | route_url }}"
        });
    </script>
</div>