<div class="ui segment" ng-controller="GroupController">
    <h2 class="ui header">Edit Group</h2>

    <div class="ui form">
        <div class="field">
            <label>Name</label>
            <input type="text" ng-model="group.name"/>
        </div>
        <div class="field">
            <label>Description</label>
            <input type="text" ng-model="group.description"/>
        </div>
    </div>

    <h3 class="ui  header">Permissions</h3>

    <div class="ui  attached segment">
        <div class="ui small icon button" ng-repeat="permission in permissions"
             ng-class="{'green':groupHasPermission(permission)}" ng-click="updateGroupPermission(permission)"><i
                class="icon checkmark"></i>{[{permission}]}
        </div>
    </div>
    </br>
    <div class="ui green icon right button" ng-click="updateGroup()"><i class="ui save icon"></i>Save</div>
    <div class="ui segment animate-hide" ng-class="{red:!result.success,green:result.success}"
         ng-hide="result.message == null">{[{ result.message }]}
    </div>
</div>