<div ng-controller="GroupsController">
    <div class="ui menu" style="height: 36px;">
        <div class="item link" id="openGroupModalBtn">
            <i class="ui add icon"></i>Add Group
        </div>
    </div>
    <script>
        $('#openGroupModalBtn').click(function () {
            $('#addGroupModal').modal('show');
        });
    </script>

    <div class="ui modal" id="addGroupModal">
        <i class="close icon"></i>

        <div class="header">
            Add Group
        </div>
        <div class="ui content form">
            <div class="field">
                <label>Name</label>
                <input type="text" ng-model="group.name">
            </div>
            <div class="field">
                <label>Description</label>
                <input type="text" ng-model="group.description">
            </div>
            <div class="ui icon button" ng-click="addGroup()">
                <i class="add icon"></i>Add Group
            </div>
        </div>
    </div>

    <div class="ui bottom attached segment">
        <table class="ui table attached">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="group in groups">
                <td>{[{ group.name }]}</td>
                <td>{[{ group.description }]}</td>
                <td>
                    <a class="ui icon button" href="#groups/{[{ group._id }]}">
                        <i class="edit icon"></i>
                    </a>
                    <a class="ui icon button" ng-click="deleteGroup(group._id)">
                        <i class="trash icon"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>