<div class="ui segment" ng-controller="UserController">
    <h2 class="ui header">Edit User</h2>

    <div class="ui form">
        <div class="field">
            <label>Email</label>
            <input type="text" ng-model="user.email"/>
        </div>
        <div class="field">
            <label>Name</label>
            <input type="text" ng-model="user.name"/>
        </div>
        <div class="field">
            <label>Password</label>
            <input type="password" ng-model="user.password"/>
        </div>
    </div>
    <h2 class="ui header">Groups</h2>
    <div class="ui attached segment">
        <div class="ui icon button" ng-repeat="group in groups" ng-class="{'green':userHasGroup(group.name)}" ng-click="addUserToGroup(group.name)"><i class="ui users icon"></i>{[{group.name}]}</div>
    </div>
    </br>
    <div class="ui green icon right button" ng-click="updateUser()"><i class="ui save icon"></i>Save</div>
    <div class="ui segment animate-hide" ng-class="{red:!result.success,green:result.success}" ng-hide="result.message == null">{[{ result.message }]}</div>
</div>