{% extends 'log4all:templates/left_layout.jinja2' %}
{% block leftMenu %}
    <div class="ui segment vertical inverted labeled icon menu">
        <a class="item" href="{{ 'admin_applications' | route_url }}">
            <i class="terminal icon"></i>
            Applications
        </a>
        <a class="item">
            <i class="signal icon"></i>
            Stats
        </a>
    </div>
{% endblock %}