{% extends 'admin_layout.jinja2' %}
{% block center %}
    <div class="panel">
        <div class="title">Applications</div>
        <div class="contentPanel">
            <table id="applicationTable" class="ui table segment">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Insert Date</th>
                </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                <tr>
                    <th colspan="3">
                        <div id="addApplicationBtn" class="ui green labeled icon button"><i class="terminal icon"></i>
                            Add Application
                        </div>
                    </th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <script>
        $('#addApplicationBtn').click(function () {
            $('#addApplicationModal').modal('show');
        });
        function editApp(idApp){
            window.location.href = "{{ 'admin_edit_application' | route_url }}?idApp="+idApp;
        }
        function refreshApplications() {
            $.ajax({
                url: '{{ 'admin_get_applications' | route_url }}'
            }).done(function (data) {
                $('#applicationTable tbody').html("");
                var tblBody = "";
                var dt = null;
                $.each(data, function (i, app) {
                    tblBody += "<tr><td>";
                    tblBody += '<i class="large edit icon" style="cursor:pointer;" onclick="editApp(\''+app['_id']+'\');"></i>';
                    tblBody += app['name'] + "</td>";
                    tblBody += "<td>" + app['description'] + "</td>";
                    if (app['date'] != null) {
                        dt = new Date(app['date'] * 1000);
                        tblBody += "<td>" + dt.toLocaleString() + "</td>";
                    } else {
                        tblBody += "<td></td>";
                    }
                    tblBody += "</tr>";
                });
                $('#applicationTable tbody').html(tblBody);
            });
        }
        refreshApplications();
    </script>
    <div id="addApplicationModal" class="ui modal">
        <div class="header">
            Add Application
        </div>
        <div class="ui form segment">
            <div class="field">
                <label>Application Name</label>
                <input id="applicationName" type="text" placeholder="Application Name">
            </div>
            <div class="field">
                <label>Application Description</label>
                <textarea id="applicationDescription" placeholder="Application Description"></textarea>
            </div>
            <div id="saveApplicationBtn" class="ui green submit button">Add</div>
            <div id="cancelApplicationBtn" class="ui button">Cancel</div>
            <div id="fbPanel" style="padding: 5px;color: red;"></div>
            <script>
                $("#cancelApplicationBtn").click(function () {
                    $('#addApplicationModal').modal('hide');
                });
                $("#saveApplicationBtn").click(function () {
                    var applicationData = {
                        'name': $('#applicationName').val(),
                        'description': $('#applicationDescription').val()
                    };
                    $.ajax({
                        type: 'POST',
                        contentType: "application/json",
                        url: '{{ 'admin_add_application' | route_url }}',
                        data: JSON.stringify(applicationData),
                        dataType: 'json'
                    }).done(function (data) {
                        if (data['result']) {
                            $('#addApplicationModal').modal('hide');
                            refreshApplications();
                        } else {
                            $('#fbPanel').html("Error:" + data['message']);
                        }
                    });
                });
            </script>
        </div>
    </div>
{% endblock %}