{% extends 'admin_layout.jinja2' %}
{% block head %}
    <script src="{{ 'log4all:static/js/chart.min.js'|static_url }}"></script>
{% endblock %}
{% block center %}

    <div class="panel" style="float: left;width: 800px;">
        <div class="title">Edit Application</div>
        <div class="contentPanel">
            <form id="saveFrm" method="POST">
                <input type="hidden" name="idApp" value="{{ app['_id'] }}">
                <input type="hidden" name="csrf" value="{{ csrf }}">

                <div class="ui form segment">
                    <div class="field ">
                        <label><b>Name</b></label>

                        <div class="ui left labeled input">
                            <input type="text" placeholder="Name" name='name' disabled value="{{ app['name'] }}">
                        </div>
                    </div>
                    <div class="field">
                        <label><b>Description</b></label>
                        <textarea name="description">{{ app['description'] }}</textarea>
                    </div>

                    <div class="ui blue segment">
                        <h3 class="ui black header">
                            Level Policies
                            <div class="sub header">Archive/Delete policies</div>
                        </h3>
                        <div class="ui tiered labeled menu">
                            {% for level in levels %}
                                <a class="item" onclick="showLevelDiv(this,'{{ level }}');">{{ level }}</a>
                            {% endfor %}
                        </div>
                        {% for level in levels %}
                            <div id="{{ level }}_div" style="display: none;">

                                <div class="inline field">
                                    Delete
                                    <div class="ui slider checkbox">
                                        <input id="{{ level }}_to_archive_chk" name="{{ level }}_to_archive"
                                               type="checkbox" onclick="showArchiveDeletePanel('{{ level }}');"
                                               {%- if app['levels'][level]['archive'] %}checked="checked"{% endif -%}
                                                >
                                        <label for="{{ level }}_to_archive_chk"></label>
                                    </div>
                                    Archive
                                </div>
                                <div class="field" id="{{ level }}_archive_div" style="{%- if not app['levels'][level]['archive'] %}display:none;{% endif -%}">
                                    <label>Archive after (days)</label>
                                    <input type="number" placeholder="days" name="{{ level }}_archive_days"
                                           min="1"
                                           value="{{ app['levels'][level]['archive'] | default('1') }}">
                                </div>
                                <div class="field" id="{{ level }}_delete_div"  style="{%- if not app['levels'][level]['delete'] %}display:none;{% endif -%}">
                                    <label>Delete after (days)</label>
                                    <input type="number" placeholder="days" name="{{ level }}_delete_days"
                                           min="1"
                                           value="{{ app['levels'][level]['delete'] | default('1') }}">
                                </div>
                            </div>
                        {% endfor %}
                        <script>

                            function showArchiveDeletePanel(level){
                                if ($('#'+level+'_to_archive_chk').is(':checked')){
                                    $('#'+level+'_archive_div').show();
                                    $('#'+level+'_delete_div').hide();
                                }else{
                                    $('#'+level+'_archive_div').hide();
                                    $('#'+level+'_delete_div').show();
                                }
                            }
                            var currLevel = null;
                            var currLnk = null;
                            function showLevelDiv(lnk, level) {
                                if (currLevel != null) {
                                    $('#' + currLevel + "_div").hide("slideUp");
                                }
                                if (currLnk != null) {
                                    $(currLnk).attr('class', 'item');
                                }
                                if (currLevel != level) {
                                    $(lnk).attr('class', 'item orange active');
                                    currLevel = level;
                                    currLnk = lnk;
                                    $('#' + level + "_div").show("slideDown");
                                } else {
                                    currLevel = null;
                                    currLnk = null;
                                }
                            }
                        </script>
                    </div>

                    <div id="saveBtn" class="ui blue submit button segment">Save</div>
                    <script>
                        $('#saveBtn').click(function () {
                            $('#saveFrm').submit();
                        });
                    </script>

                    <!-- Error panel-->
                    {% if error %}
                        <div class="ui red ui label">{{ error }}</div>
                    {% endif %}
                    {% if saved %}
                        <div id="savedDimmer" class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <h2 class="ui inverted icon header">
                                        <i class="icon circular inverted emphasized green save"></i>
                                        Saved
                                    </h2>
                                </div>
                            </div>
                        </div>
                        <script>
                            $('#savedDimmer').dimmer('show');
                        </script>
                    {% endif %}
                </div>
            </form>
            <script>
                $('#saveFrm').form({
                    name: {
                        identifier: 'name',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Please enter a non empty application name'
                            }
                        ]
                    }
                }, {
                    inline: true,
                    on: 'blur'
                });
            </script>
        </div>
    </div>
    <div class="panel" style="float: left;">
        <div class="title">Levels Stat</div>
        <div class="contentPanel">
            <div style="float: right;">
                {% for stat in level_stat %}
                    <span style="color:{{ stat['color'] }} ;">{{ stat['level'] }} :{{ stat['value'] }}<br/></span>
                {% endfor %}
            </div>
            <canvas id="levelChart" width="400" height="400"></canvas>
            <script>
                var chartData = [
                    {%- for stat in level_stat %}
                        {value:{{  stat['value'] }}, color: '{{ stat['color']  }}'},
                    {% endfor -%}
                ];
                var ctx = document.getElementById("levelChart").getContext("2d");
                new Chart(ctx).Doughnut(chartData);
            </script>
        </div>
    </div>

{% endblock %}