<!DOCTYPE html>
<html ng-app="Log4AllAdmin">
<head>
    <meta charset="UTF-8">
    <title>Log4All Administration</title>
    <script src="/public/components/jquery/dist/jquery.min.js"></script>
    <script src="/public/components/angular/angular.min.js"></script>
    <script src="/public/components/angular-route/angular-route.min.js"></script>
    <script src="/public/components/angular-jwt/dist/angular-jwt.min.js"></script>
    <script src="/public/components/angular-local-storage/dist/angular-local-storage.min.js"></script>

    <script src="/public/components/angular-animate/angular-animate.min.js"></script>

    <script src="/public/components/jquery-ui/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="/public/components/jquery-ui/themes/smoothness/jquery-ui.min.css"/>

    <script src="/public/components/semantic-ui/dist/semantic.min.js"></script>

    <link rel="stylesheet" href="/public/components/angular/angular-csp.css"/>
    <link rel="stylesheet" href="/public/components/semantic-ui/dist/semantic.min.css"/>


	<script src="/public/components/log4all/admin/Log4AdminService.js"></script>
	<script src="/public/components/log4all/admin/Log4AllAuthService.js"></script>
	<script src="/public/components/log4all/admin/Log4AllApplicationService.js"></script>
	<script src="/public/components/log4all/admin/Log4AllGroupService.js"></script>
	<script src="/public/components/log4all/admin/Log4AllUserService.js"></script>

    <script src="/public/admin/admin_log4all.js"></script>
    <script src="/public/admin/controllers/ApplicationController.js"></script>
    <script src="/public/admin/controllers/ApplicationsController.js"></script>
    <script src="/public/admin/controllers/GroupController.js"></script>
    <script src="/public/admin/controllers/GroupsController.js"></script>
    <script src="/public/admin/controllers/UsersController.js"></script>
    <script src="/public/admin/controllers/UserController.js"></script>
    <script src="/public/admin/controllers/LoginController.js"></script>

</head>
<body ng-controller="MainController">

    <div class="ui segment attached inverted">
        <div class="ui grid ">
            <div class="column twelve wide column " style="padding-top: 0px;">
                <h1 class="header item inverted">
                    <i class="ui settings red icon"></i>Log4All Admin
                </h1>
            </div>
            <div class="right aligned four wide column">
                <div class="ui form inverted small" ng-controller="LoginController">
                    <div class="two fields" ng-cloak ng-hide="isLogged()">
                        <div class="field">
                            <label>Username</label>
                            <div class="ui icon input">
                                <input type="text" ng-model="auth.username"/>
                                <i class="user icon"></i>
                              </div>
                        </div>
                        <div class="field">
                            <label>Password</label>
                             <div class="ui icon input">
                                <input type="password" ng-model="auth.password" ng-enter="login()"/>
                                <i class="lock icon"></i>
                              </div>
                        </div>

                    </div>
                    <div class="ui icon small red button" ng-click="logout()" ng-cloak ng-show="isLogged()"><i class="ui sign out icon"></i> Logout</div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="isLogged()" ng-cloak>
        <div class="ui grid">
            <div class="ui two wide column vertical menu inverted" >
                <a class="item" href="#applications">
                   <i class="ui rocket icon"></i>Applications
                </a>
                <div class="header item">
                    Auth
                </div>
                <a class="item" href="#groups">
                   <i class="ui groups icon"></i>Groups
                </a>
                 <a class="item" href="#users">
                   <i class="ui users icon"></i>Users
                </a>
            </div>
            <div class="ui fourteen wide column" ng-view=""></div>
        </div>
    </div>
    <div ng-cloak ng-hide="isLogged()" class="ui segment center aligned">
        <h2 class="ui header">Login required</h2>
    </div>
</body>
</html>