.animate-hide {
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
  line-height: 20px;
  opacity: 1;
  padding: 10px;
  background: white;
}

.animate-hide.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}