/*@import url(http://fonts.googleapis.com/css?family=Open+Sans);*/

html {
    margin: 0px;
    height: 100%;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

code {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0px;
    background: #5c5c5c;
    height: 98%;
}

image {
    border: none;
    margin: 0px;
}

input, textarea, select {
    font-family: inherit;
    font-size: 100%;
}

#container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -155px;
}

#top {
    background: #282828;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #ffffff;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 2em;
    font-weight: bold;
    height: 50px;
}

#top img {
    vertical-align: top;
}

#bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: right;
    font-size: 0.7em;
    color: #ffffff;
}

a, a:visited, a:hover {
    color: #000000;
}

#leftMenu {
    text-align: center;
    float: left;
    width: 50px;
    color: #ffffff;
    background: #282828;
    top: 0px;
    bottom: 0px;
    display: block;
    position: absolute;
}

#leftCenter {
    margin-left: 80px;
}

.panel {
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    margin: 20px;
}

.panel .title {
    border-top-right-radius: 10px;
    background: #ffa84c; /* Old browsers */
    background: -moz-linear-gradient(top, #ffa84c 0%, #ff7b0d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffa84c), color-stop(100%, #ff7b0d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffa84c 0%, #ff7b0d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffa84c 0%, #ff7b0d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffa84c 0%, #ff7b0d 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffa84c 0%, #ff7b0d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa84c', endColorstr='#ff7b0d', GradientType=0); /* IE6-9 */
    color: #ffffff;
    font-weight: bold;
    padding: 10px;
}

.panel .contentPanel {
    padding: 10px;
    background-color: #ffffff;
}

#searchEdt {
    padding-left: 10px;
    line-height: 30px;
    font-family: inherit;
    font-size: 100%;
}

#searchHighlight .highlight {
    padding: 0 3px;
    margin: -1px -4px;
    border-radius: 0.5em;
    border: 1px solid #c5dbec;
}

.nav {
    text-align: right;
    background-color: white;
}

#pageLinks {
    display: inline-block;
}

#pageLinks a {
    color: black;
    margin: 2px;
}
