<div class="ui left floated huge orange attached button" id="showMenuBtn">
    <i class="ui content icon"></i>Log4All</div>
<script>
    $('#showMenuBtn').click(function () {
        $('#leftMenu').sidebar('show');
    });
</script>

<div id="leftMenu" class="ui left vertical inverted thin sidebar menu">
    <div class="inverted item link" id="addLinkBtn">
        <i class="ui add icon"></i>Add Log
    </div>
    <script>
        $('#addLinkBtn').click(function () {
            $('#leftMenu').sidebar('hide');
            $('#addLogPanel').modal('show');
        });
    </script>
</div>