<div class="ui right floated huge blue attached button" id="showTagMenuBtn">
    <i class="ui tag icon"></i>
</div>

<div id="rightMenu" class="ui right vertical inverted thin sidebar ">
    <div class="ui list">
        <div class="item" ng-repeat="tag in tags">
            <a class="ui tag green label" ng-click="addTagInQuery(tag.tag_name)" title="Search Tag">
                {[{tag.tag_name}]}
            </a>
        </div>
    </div>
</div>
<script>
    $('#showTagMenuBtn').click(function () {
        $('#rightMenu').sidebar('show');
    });
</script>