{% extends "layout.jinja2" %}

{% block middle %}
    <div style="text-align: center;">
        <div class="panel"
             style="margin-left:40px;margin-right:40px;min-width: 400px;display: inline-block; text-align: left;">
            <div class="title">Log</div>
            <div class="content" style="padding: 15px;">
                {% for tag in log['tags'] %}
                    <div class="ui ribbon label blue">{{ tag }}</div><br/>
                    <div style="margin-left: 10px;margin-bottom: 10px;">{{ log['tags'][tag] }}</div>
                {% endfor %}
                <div class="ui ribbon label green">Message</div>
                <br/>
                <div style="margin-left: 10px;">{{ log['_message'] }}</div>
                <br/>
                {% if log['stack'] %}
                    <div class="ui ribbon label red">Stack</div>
                    <div style="margin-left: 10px">
                        <pre><code>{% for stack in log['stack'] %}{{ stack }}
{% endfor %}
                        </code></pre>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
