{% extends "layout.jinja2" %}

{% block middle %}

    {% include 'panels/add_log_panel.jinja2' %}

    <div class="panel" style="float:left;width: 50%;">
        <div class="title">Search</div>
        <div class="contentPanel">
            <form id="searchFrm">
                <div id="timePanel" style="text-align: center;">
                    Since:
                    <div class="ui input" style="width: 24%; margin-left: 5px;">
                        <input id="sinceEdt" class="date" type="text" placeholder="Since...">
                    </div>
                    To:
                    <div class="ui input" style="width:24%;">
                        <input id="toEdt" class="date" type="text" placeholder="To...">
                    </div>
                </div>
                <div class="ui fluid input" style="margin-top: 5px;">
                    <input id="searchEdt" name="query" type="text" placeholder="Query...">
                </div>
                <div style="text-align: center">
                    <div class="ui buttons" style="margin-top: 5px; display: inline-block; width: 450px;">
                        <div style="width: 200px;" id="searchBtn" class="ui green button">Search</div>
                        <div class="or" style="z-index: 1;"></div>
                        <div style="width: 200px;" id="tailBtn" class="ui red button">Tail</div>
                    </div>
                </div>
                <input type="submit" style="display: none;">
            </form>
        </div>
    </div>
    <script language="JavaScript">
        $('#timePanel .date').datetimepicker();
        $('#timePanel .date').change(function (event) {
            toReset = true;
        })
        $('#searchEdt').autocomplete({
            minLength: 2,
            source: "{{ 'helper_tags_search' | route_url }}"
        });
    </script>

    <div id="resultPnl" class="panel" style="display:inline-block;width: 95%;">
        <div class="title">Results</div>
        <div class="contentPanel" style="overflow: auto;">
            <div id="resultDiv" class="ui segment" style="min-height: 300px;"></div>
        </div>
    </div>
    <script language="JavaScript">
        var currPage = 0;
        var lastQuery = null;
        var toReset = false;
        var order = {};
        var result_per_page = 10;
        var src_columns="";
        order['column'] = 'date';
        order['ascending'] = true;
        var tail_timer = null;


        function searchTag(srcQuery) {
            if ($('#searchEdt').val().indexOf(srcQuery) == -1) {
                $('#searchEdt').val($('#searchEdt').val() + " " + srcQuery);
            } else {
                $('#searchEdt').val($('#searchEdt').val().replace(srcQuery, ""));
            }
            search();
        }

        function cleanResult() {
            if (tail_timer != null) {
                clearTimeout(tail_timer);
            }
            $("#resultDiv").html("<div class=\"ui active inverted dimmer\"><div class=\"ui text loader\">Searching...</div></div>");
        }
        /**
         * main search function
         */
        function search() {
            if (toReset || lastQuery == null || lastQuery != $("#searchEdt").val()) {
                currPage = 0;
                lastQuery = $("#searchEdt").val()
                toReset = false;
            }
            var dtSince = $("#sinceEdt").datetimepicker('getDate');
            var dtTo = $("#toEdt").datetimepicker('getDate');
            if ($("#sinceEdt").val().trim() == "" || $("#toEdt").val().trim() == "") {
                alert("The date range is mandatory");
                return;
            }
            var sinceSeconds = (dtSince.getTime() / 1000);
            var toSeconds = (dtTo.getTime() / 1000);
            if (toSeconds == sinceSeconds) {
                sinceSeconds -= 24 * 60 * 60;
            }
            var searchParam = {
                query: $("#searchEdt").val(),
                dtSince: Math.ceil(sinceSeconds),
                dtTo: Math.ceil(toSeconds),
                page: currPage,
                result_per_page: result_per_page,
                order: order,
                columns:src_columns
            };
            var url = "{{ 'result_table' | route_url }}?" + $.param(searchParam);
            cleanResult();
            $.ajax({
                type: "GET",
                url: url
            }).done(function (data) {
                $('#resultDiv').html(data);
            });
        }// end search function

        function tail() {
            if (toReset || lastQuery == null || lastQuery != $("#searchEdt").val()) {
                currPage = 0;
                lastQuery = $("#searchEdt").val()
                toReset = false;
            }
            var searchParam = {
                query: $("#searchEdt").val()
            };
            var url = "{{ 'tail_table' | route_url }}?" + $.param(searchParam);
            cleanResult();
            $.ajax({
                type: "GET",
                url: url
            }).done(function (data) {
                $('#resultDiv').html(data);
                tail_timer = setInterval(tail_search, 1000);
            });
        }

        $('#tailBtn').click(tail);

        $('#searchBtn').click(search);
        $('#searchEdt').keypress(function (event) {
            if (event.which == 13) {
                search();
            }
        });
        $('#searchFrm').submit(function (event) {
            search();
            event.preventDefault();
        });

    </script>
{% endblock %}