<html ng-app="log4all">
<head>
    <script src="{{ 'log4all:bower_components/jquery/dist/jquery.min.js'|static_url }}"></script>
    <script src="{{ 'log4all:bower_components/angular/angular.min.js'|static_url }}"></script>
    <script src="{{ 'log4all:bower_components/angular-route/angular-route.min.js'|static_url }}"></script>
    <script src="{{ 'log4all:bower_components/angular-animate/angular-animate.min.js'|static_url }}"></script>

    <script src="{{ 'log4all:bower_components/jquery-ui/jquery-ui.min.js'|static_url }}"></script>
    <link rel="stylesheet" href="{{ 'log4all:bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css'|static_url }}"/>

    <script src="{{ 'log4all:bower_components/semantic-ui/dist/semantic.min.js'|static_url }}"></script>

    <script src="{{ 'log4all:bower_components/angucomplete-alt/dist/angucomplete-alt.min.js'|static_url }}"></script>
    <link rel="stylesheet" href="{{ 'log4all:bower_components/angucomplete-alt/angucomplete-alt.css' | static_url }}"/>

    <link rel="stylesheet" href="{{ 'log4all:bower_components/angular/angular-csp.css' | static_url }}"/>
    <link rel="stylesheet" href="{{ 'log4all:bower_components/semantic-ui/dist/semantic.min.css' | static_url }}"/>

    <script src="{{ 'log4all:bower_components/datetimepicker/jquery.datetimepicker.js' | static_url }}"></script>
    <link rel="stylesheet" href="{{ 'log4all:bower_components/datetimepicker/jquery.datetimepicker.css' | static_url }}"/>

    <script src="{{ 'log4all:static/js/log4all.js'|static_url }}"></script>


    <link rel="stylesheet" href="{{ 'log4all:static/css/style.css' | static_url }}"/>
</head>
<body ng-controller="LogController">
<div>
    <div class="ui basic segment center aligned" style="padding: 0px;">
        {% include  "fragment/rightMenu.html" %}
        {% include  "fragment/leftMenu.html" %}
    </div>
    {% include  "fragment/addLogPanel.jinja2" %}
    {% include  "fragment/searchPanel.html" %}
    {% include  "fragment/tailPanel.html" %}
    {% include  "fragment/errorPanel.html" %}
    {% include  "fragment/resultPanel.html" %}
    {% include  "fragment/detailPanel.jinja2" %}
    <div class="ui segment right aligned" style="padding: 0;">
        Realized by <a href="https://github.com/n3wtron"> Igor Maculan (n3wtron@gmail.com)</a>
        <div>
            <a href="http://www.log4all.net/" target="_blank"><img src="{{ 'log4all:static/images/github.png'|static_url }}" border="0" title="Log4all.net"></a>
            <a href="https://www.mongodb.org/" target="_blank"><img src="{{ 'log4all:static/images/mongodb.jpeg'|static_url }}" border="0" title="mongodb"></a>
            <a href="https://www.python.org/" target="_blank"><img src="{{ 'log4all:static/images/python.png'|static_url }}" border="0" title="Python"></a>
            <a href="https://www.angularjs.org/" target="_blank"><img src="{{ 'log4all:static/images/angularjs.png'|static_url }}" border="0" title="AngularJS"></a>
            <a href="http://semantic-ui.com/" target="_blank"><img src="{{ 'log4all:static/images/semanticui.png'|static_url }}" border="0" title="SemanticUI"></a>
            <a href="http://jquery.com/" target="_blank"><img src="{{ 'log4all:static/images/jquery.png'|static_url }}" border="0" title="JQuery"></a>

        </div>
    </div>
</div>
</body>
</html>