<html ng-app="log4all">
<head>
    <script src="{{ 'log4all:bower_components/jquery/dist/jquery.min.js'|static_url }}"></script>
    <script src="{{ 'log4all:bower_components/angular/angular.min.js'|static_url }}"></script>
    <script src="{{ 'log4all:bower_components/angular-route/angular-route.min.js'|static_url }}"></script>
    <script src="{{ 'log4all:bower_components/angular-animate/angular-animate.min.js'|static_url }}"></script>

    <script src="{{ 'log4all:bower_components/jquery-ui/jquery-ui.min.js'|static_url }}"></script>
    <link rel="stylesheet" href="{{ 'log4all:bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css'|static_url }}"/>

    <script src="{{ 'log4all:bower_components/semantic-ui/dist/semantic.min.js'|static_url }}"></script>

    <script src="{{ 'log4all:bower_components/angucomplete-alt/dist/angucomplete-alt.min.js'|static_url }}"></script>
    <link rel="stylesheet" href="{{ 'log4all:bower_components/angucomplete-alt/angucomplete-alt.css' | static_url }}"/>

    <link rel="stylesheet" href="{{ 'log4all:bower_components/angular/angular-csp.css' | static_url }}"/>
    <link rel="stylesheet" href="{{ 'log4all:bower_components/semantic-ui/dist/semantic.min.css' | static_url }}"/>
    <script src="{{ 'log4all:static/js/log4all.js'|static_url }}"></script>

    <script src="{{ 'log4all:static/js/jquery-ui-timepicker-addon.js'|static_url }}"></script>
    <link rel="stylesheet" href="{{ 'log4all:static/css/jquery-ui-timepicker-addon.css' | static_url }}"/>

    <link rel="stylesheet" href="{{ 'log4all:static/css/style.css' | static_url }}"/>
</head>
<body ng-controller="LogController">
<div>
    <div class="ui basic segment center aligned" style="padding: 0px;">
        {% include  "fragment/rightMenu.html" %}
        {% include  "fragment/leftMenu.html" %}
    </div>
    {% include  "fragment/addLogPanel.jinja2" %}
    {% include  "fragment/searchPanel.html" %}
    {% include  "fragment/tailPanel.html" %}
    {% include  "fragment/errorPanel.html" %}
    {% include  "fragment/resultPanel.html" %}
</div>
</body>
</html>