{% extends 'layout.jinja2' %}
{%  block middle %}
    <div id="leftMenu">
        <a href="{{ 'home' | route_url }}"><img src="{{ 'log4all:static/images/64x64/logo.png'|static_url }}"></a>
        {% block leftMenu %}
        {% endblock %}
    </div>
    <div id="leftCenter">
        {% block center %}
        {% endblock %}
    </div>
{% endblock %}