{% extends 'layout.jinja2' %}
{%  block middle %}
    <div id="leftMenu">
        {% block leftMenu %}
        {% endblock %}
    </div>
    <div id="leftCenter">
        {% block center %}
        {% endblock %}
    </div>
{% endblock %}