{% extends 'layout.jinja2' %}
{%  block middle %}
     <script>
        function adjustLeftMenu(){
            $("#leftMenu").height( $("#container").height() - $("#top").height() );
        }
        $(document).ready(function(){
           adjustLeftMenu();
        });
        $( document ).ajaxComplete(function() {
             adjustLeftMenu();
        });
    </script>
    <div id="leftMenu" class="ui bottom attached">
        {% block leftMenu %}
        {% endblock %}
    </div>
    <div id="leftCenter">
        {% block center %}
        {% endblock %}
    </div>
{% endblock %}