<script>
    var sinceSeconds = null;
    var followLog = true;
    var level_colors = {
        {%- for lc in level_colors %}
            '{{ lc }}': '{{ level_colors[lc] }}',
        {% endfor %}
    };
    function tail_search() {
        if (sinceSeconds == null) {
            sinceSeconds = Math.ceil(new Date().getTime() / 1000) - 1;
        }
        var tailParam = {
            query: "{{ query |safe}}",
            dtSince: sinceSeconds,
            full:true
        };

        var tail_url = "{{ 'api_logs_tail' | route_url }}?" + $.param(tailParam);
        $.ajax({
            url: tail_url
        }).done(function (data) {
                    if (data['n_rows'] > 0) {
                        var dt_log;
                        var row;
                        var level;
                        for (var i = 0; i < data['n_rows']; i++) {
                            sinceSeconds = data['logs'][i]['date'];
                            dt_log = new Date(sinceSeconds * 1000);
                            level = data['logs'][i]['level'];
                            row = "<span class='log'>";
                            row += "<a style=\"color:" + level_colors[level] + ";\" href=\"{{ 'detail' | route_url }}?id=" + data['logs'][i]['_id'] + "\">";
                            row += dt_log.toLocaleString();
                            row += "&nbsp;&nbsp;" + level;
                            row += "&nbsp;&nbsp;" + data['logs'][i]['application'];
                            row += "&nbsp;&nbsp;" + data['logs'][i]['message'];
                            $.each(data['logs'][i]['_tags'], function (t, v) {
                                row += " #" + t + ":" + v;
                            });
                            row += "</span></a>";
                            if (!data['logs'][i]['stacktrace']=="") {
                                row += "<pre><code>" + data['logs'][i]['stacktrace'] + "</code></pre><br/>";
                            }else{
                                row +="<br/>";
                            }
                            $('#tailResult').append(row);
                        }
                        sinceSeconds += 1;
                        if (followLog) {
                            window.scrollTo(0, document.body.scrollHeight);
                        }
                    }
                }
        );
    }

</script>
<div class="monospace" style=" min-height: 350px;">
    <div class="field" style="text-align: right;">
        <div class="ui toggle  checkbox">
            <input type="checkbox" id="followLog1" checked="checked">
            <label for="followLog1" style="color: white;">Follow log</label>
        </div>
    </div>
    <div id="tailResult" style="overflow: auto;"></div>
    <div style="text-align: center;">
        <i  class="ui loading huge icon "></i>
    </div>

    <div class="field " style="text-align: right;">
        <div class="ui toggle  checkbox">
            <input type="checkbox" id="followLog2" checked="checked">
            <label for="followLog2" style="color: white;">Follow log</label>
        </div>
    </div>
    <script>
        $('#followLog1').click(function () {
            followLog = $(this).is(':checked');
            $('#followLog2').prop('checked', followLog);
        });
        $('#followLog2').click(function () {
            followLog = $(this).is(':checked');
            $('#followLog1').prop('checked', followLog);
        });
    </script>
</div>