<html ng-app="log4all">
<head>
    <script src="/public/components/jquery/dist/jquery.min.js"></script>
    <script src="/public/components/angularjs/angular.min.js"></script>
    <script src="/public/components/angular-route/angular-route.min.js"></script>
    <script src="/public/components/angular-animate/angular-animate.min.js"></script>

    <script src="/public/components/jquery-ui/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="/public/components/jquery-ui/themes/smoothness/jquery-ui.min.css"/>

    <script src="/public/components/semantic-ui/dist/semantic.min.js"></script>

    <script src="/public/components/angucomplete-alt/dist/angucomplete-alt.min.js"></script>
    <link rel="stylesheet" href="/public/components/angucomplete-alt/angucomplete-alt.css"/>

    <link rel="stylesheet" href="/public/components/angular/angular-csp.css"/>
    <link rel="stylesheet" href="/public/components/semantic-ui/dist/semantic.min.css"/>

    <script src="/public/components/datetimepicker/jquery.datetimepicker.js"></script>
    <link rel="stylesheet" href="/public/components/datetimepicker/jquery.datetimepicker.css"/>
	
	
	<script src="/public/components/log4all/log4AllService.js"></script>
    <script src="/public/js/log4all.js"></script>

</head>
<body ng-controller="LogController">
<div>
    <div class="ui basic segment center aligned" style="padding: 0px;">
        {{ template  "fragment/rightMenu.html" . }}
        {{ template  "fragment/leftMenu.html" . }}
    </div>
    {{ template  "fragment/addLogPanel.html" . }}
    {{ template  "fragment/searchPanel.html" . }}
    {{ template  "fragment/tailPanel.html" . }}
    {{ template  "fragment/errorPanel.html" . }}
    {{ template  "fragment/resultPanel.html" . }}
    {{ template  "fragment/detailPanel.html" . }}
    <div class="ui segment right aligned" style="padding: 0;">
        Realized by <a href="https://github.com/n3wtron"> Igor Maculan (n3wtron@gmail.com)</a>
        <div>
            <a href="http://www.log4all.net/" target="_blank"><img src="/public/img/github.png" border="0" title="Log4all.net"></a>
            <a href="https://www.mongodb.org/" target="_blank"><img src="/public/img/mongodb.jpeg" border="0" title="mongodb"></a>
            <a href="https://golang.org/" target="_blank"><img src="/public/img/gopher.png" border="0" title="Go"></a>
            <a href="https://www.angularjs.org/" target="_blank"><img src="/public/img/angularjs.png" border="0" title="AngularJS"></a>
            <a href="http://semantic-ui.com/" target="_blank"><img src="/public/img/semanticui.png" border="0" title="SemanticUI"></a>
            <a href="http://jquery.com/" target="_blank"><img src="/public/img/jquery.png" border="0" title="JQuery"></a>

        </div>
    </div>
</div>
</body>
</html>