{% extends "index.jinja2" %}
{% block center %}
    <div ng-controller="ApplicationsController">
        <div class="ui menu" style="height: 36px;">
            <div class="item link" id="openAddLogModalBtn">
                <i class="ui add icon"></i>Add Application
            </div>
        </div>
        <script>
            $('#openAddLogModalBtn').click(function () {
                $('#addLogModal').modal('show');
            });
        </script>

        <div class="ui modal" id="addLogModal">
            <i class="close icon"></i>

            <div class="header">
                Add Application
            </div>
            <div class="ui content form">
                <div class="field">
                    <label>Name</label>
                    <input type="text" ng-model="application.name">
                </div>
                <div class="field">
                    <label>Description</label>
                    <input type="text" ng-model="application.description">
                </div>
                <div class="ui icon button" ng-click="addApplication()">
                    <i class="add icon"></i>Add Application
                </div>
            </div>
        </div>

        <div class="ui bottom attached segment">
            <table class="ui table attached">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="app in applications">
                    <td>{[{ app.name }]}</td>
                    <td>{[{ app.description }]}</td>
                    <td>
                        <a class="ui icon button" href="{{ 'admin_application_edit' | route_url }}#/?id={[{ app._id }]}">
                            <i class="edit icon"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}